doctype html
html

  head

  meta(charset="utf-8")

  meta(http-equiv="X-UA-Compatible", content="IE=edge")

  title Tara Ocansey

  meta(name="description", content="Portfolio site for Fashion Stylist, Tara Ocansey ")

  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

  link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

  //- Fonts  

  link(href="http://fonts.googleapis.com/css?family=Josefin+Slab", rel="stylesheet", type="text/css")  

  link(href="http://fonts.googleapis.com/css?family=Allura" rel="stylesheet" type="text/css")

  link(href="http://fonts.googleapis.com/css?family=Overlock" rel="stylesheet" type="text/css")

  body

  div.wrapper

    header.header

      div.logo

        p: a(href="/") Tara Ocansey

      ul.nav

        li: a(href="/") Home

        li: a(href="/about") About

        li: a(href="/portfolio") Portfolio

        li: a(href="/blog") Blog

        li: a(href="/contact") Contact

    div.main

    footer.footer

      p Tara Ocansey &copy; 2014

  // -----------------------------
  // Templates
  // -----------------------------

  script#home(type="text/template").
    <div class="page home">
      <div id="home-banner-img"></div>
      {{{bannerText}}}
    </div>

  script#about(type="text/template").
    <div class="page about">
      {{{profilePic}}}
      {{{aboutHeading}}}
      {{{aboutParOne}}}      
      {{{aboutParTwo}}} 
      {{{aboutParThree}}}      
      
      <div id="icons">
        <ul>
          {{#icons}}
            <li>
              <img src="{{src}}" />
              <h3>{{description}}</h3>
            </li>
          {{/icons}}
        </ul>  
      </div>  
    </div>

  script#portfolio(type="text/template").
    <div class="page portfolio">{{{content}}}</div>

  script#blog(type="text/template").
    <div class="page blog">
      {{{blogHeading}}}
      <span class="profile-pic"><img></img></span>
      <a href="{{{instagramLink}}}"><span class="username"></span></a>
      <ul class="posts">
      </ul>
    </div>  
    

  script#contact(type="text/template").
    <div class="page contact">
      {{{contactHeading}}}
       <div id="icons">
        <ul>
          {{#icons}}
            <li>
              <a href="{{link}}"><img src="{{src}}"></a>
            </li>
          {{/icons}}
        </ul>  
      </div> 
      <form>
        <input type="text" placeholder="Name"><br>
        <input type="text" placeholder="Email"><br>
        <input id="messageField" placeholder="Message" type="text">
      </form>
      <a id="sendBtn" href="#">Send</a>
    </div>  

  // -----------------------------
  // Libraries
  // -----------------------------

  script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")


  // -----------------------------
  // Application
  // -----------------------------

  script(type="text/javascript", src="assets/scripts/main.js")
